# create local copy of this file and rename to .env.local
# make sure to add .env.local to .gitignore!!
MONGO_URI={mongo-uri-here}
UMAMI_API_CLIENT_ENDPOINT=https://api.umami.is/v1
UMAMI_API_KEY={UMAMI_KEY_HERE}