.audio-controls {
  height: 120px;
  flex-shrink: 0;
  background: #876950;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

/* Progress Bar */
.progress-bar-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.progress-bar {
  flex: 1;
  appearance: none;
  height: 4px;
  background-color: #c1bebe;
  border-radius: 2px;
  outline: none;
}

.progress-bar::-webkit-slider-thumb {
  appearance: none;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

/* Time Display */
.time-display {
  color: #fff;
  font-family: "sans-serif";
  font-size: 14px;
  font-weight: bold;
  text-align: right;
  width: 80px;
}

/* Control Buttons */
.control-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 15px;
  margin-top: 8px;
}

.play-button {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

.button-play-pause {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  cursor: pointer;
}

.button-fast-forward,
.button-rewind {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: none;
  border: none;
}

.button-fast-forward svg,
.button-rewind svg,
.play-button svg {
  width: 25px;
  height: 25px;
  fill: white;
}

/* Volume Control */
.volume-control {
  width: 22px;
  height: 22px;
}
