.base {
  background-color: #f7f3ef;
}

.header {
  display: flex;
  height: 97.637px;
  padding: 19px 46px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  background: var(--White, #fff);
}

.headerTitle {
  height: 21.88px;
  align-self: stretch;
  color: #333;
  text-align: center;
  font-family: "Stevie Sans";
  font-size: 22.145px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.headerSubtitle {
  height: 21.88px;
  align-self: stretch;
  color: #757575;
  text-align: center;
  font-family: "Stevie Sans";
  font-size: 16.105px;
  font-style: normal;
  font-weight: 550;
  line-height: 140%; /* 22.547px */
}

.poicard {
  display: flex;
  justify-content: space-between;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #876950;
}

.dotCompleted {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #d29561;
}

.hiddenDot {
  opacity: 0;
}

.progressBar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transform: translateY(-30%);
  margin: 0 1em;
}

.POIchecked {
  background-color: #d29561; /* Set background color for checked state */
  border-color: #d29561; /* Optionally set border color to match */
}

.POIdefault {
  border-color: #876950; /* Set border color for default state */
  background-color: transparent; /* Ensure background is transparent when not checked */
}

.cardtbd {
  background: #f8f6f3;
  border-radius: 16px; /* Rounded corners */
  overflow: hidden; /* Ensures image and content stay inside the card */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
  width: 100%;
  max-width: 400px;
  font-family: Arial, sans-serif;
  margin: 1em 1.5em 0 0;
}

.topProgress {
  padding-left: 3.4em;
}

.tourProgress {
  background-color: "#876950";
}
